{% extends "layout.html" %} {% block body %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url(&quot;{{ url_for('static', filename='assets/img/home-bg.jpg')}}&quot;)"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>{{params['blog_name']}}</h1>
          <span class="subheading">{{params['sub_title']}}</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

{% for post in posts%}

<!-- Todo: Fetch it using for loop from the database -->
      <!-- Post preview-->
      <div class="post-preview">
        <a href="/post/{{post.slug}}">
          <h2 class="post-title"> {{post.title}}
            
          </h2>
          <h3 class="post-subtitle">
          {{post.tagline}}
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Admin</a>
          on {{post.date}}
        </p>
        {{post.content[0:50]}}...
      </div>
      <hr class="my-4" />
{% endfor %}

      
     
      <!-- Pager-->
      <div class="clearfix">
        <a class="btn btn-primary text-uppercase float-start" href="{{prev}}">← Previous Posts</a>
        <a class="btn btn-primary text-uppercase float-end" href="{{next}}">Next Posts →</a>
      </div>

    </div>
  </div>
</div>
{% endblock %}
